# use glob syntax.
syntax: glob
*.ser
*.class
*~
.*.swp
*.bak
*.off
*.old
.DS_Store

# rubbish
/pics

# logs
/*.log
/*.log.*

# eclipse conf file
.settings
.classpath
.project
.manager

# building
target
build
null
tmp*
dist
test-output

# sbt
target
lib_managed
src_managed
project/boot
!project/build
project/plugins/project/

# db
lift_proto*
*.h2.db
*.lock.db
*.trace.db

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Pax Runner (for easy OSGi launching)
runner

/ignored/
