.bb-h {
    font-size: 14px;
    background-color: #666666;
    color: white;
    padding: 6px;
    margin: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
}
.bb-h2 {
    font-size: 13px;
    background-color: #bbbbbb;
    color: white;
    padding: 2px 4px;
}
.bb-t {
    font-size: 14px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    margin-bottom: 16px;
}
.bb-t ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
.bb-t li {
    line-height: 1em;
}
.bb-i {
  margin: 0;
    padding: 2px 4px;
    border-top: 1px #e8eed5 solid;
}
.bb-t form {
  margin: 0px;
  padding: 2px;
}
.handy {
  cursor: pointer;
}
.handy:hover {
  background-color: #eeeeee;
}
a.no-a {
  color: #333;
}
a.no-a:hover {
  text-decoration: none;
}
.s-awaiting {
    color: #0088cc;
}
.s-cloning {
    color: #F89406;
}
.s-open {
    color: #F89406;
}
.s-transient {
    color: #F89406;
}
.s-lost {
    color: #a9a9a9;
    text-decoration: line-through;
}
.s-error {
    color: #B94A48;
}
.s-error-lost {
    color: #B94A48;
    text-decoration: line-through;
}
.alt-a {
    color: #333;
}
.alt-a:hover {
    color: #0088cc;
    text-decoration: none;
}
.header {
  margin-bottom: 2em;
}
.header .container {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5em;
}
.header h1 {
  font-size: 2em;
  margin: 0;
}
.header a {
  color: #bf96b8;
}
.topo {
  margin-top: 0.5em;
}
.stripmenu a {
  text-decoration: none;
}
.stripmenu a:hover {
  text-decoration: underline;
}
body {
  margin: 1em;
}
tbody tr:nth-child(even) td, tbody tr.even td {background-color:transparent;}
.nonelist ol {
	margin:0;
	padding:0;
    list-style:none;
}
.nonelist ol li {
	margin:0;
	padding:0;
}
.artifacts img {
    margin-top: 1px;
}
.stripmenu ul {
    display: inline;
    list-style:none;
}
.stripmenu li {
    display: inline;
    margin-right: 0.2em;
}
.stripmenu form {
    display: inline;
}
.stripstatus {
    padding-right: 2em;
}
.quietlink {
    text-decoration: none
}
.state-lesser {
    color: #93a1a1;
}
.state-inactive {
    color: #b58900;
}
.state-active {
    color: #6c71c4;
}
.state-good {
    color: #2aa198;
}
.state-bad {
    color: #dc322f;
}
.clone-count {
   font-size: 0.8em;
   color: #93a1a1;
   margin-left: 0.5em;
}
.sizeem {
   font-size: 0.8em;
   color: #93a1a1;
  text-align: right;
}
.no-margin input {
  margin: 0;
}
.coffin-top {
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #aaaaaa;
  border-bottom-width: 0;
  background: #aaaaaa;
}
.coffin-top h2 {
  color: #ffffff;
  margin: 6px 10px;
}
.coffin-top h3 {
  color: #ffffff;
  margin: 6px 10px;
}
.coffin {
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #aaaaaa;
  border-top-width: 0;
  margin-bottom: 1em;
  background: #ffffff;
}
.coffin-purple {
  border-color: #9B93BE;
}
.coffin-top-purple {
  border-color: #9B93BE;
  background: #9B93BE;
}
.coffin-green {
  border-color: #A3BF95;
}
.coffin-top-green {
  border-color: #A3BF95;
  background: #A3BF95;
}
.coffin-red {
  border-color: #bf9b94;
}
.coffin-top-red {
  border-color: #bf9b94;
  background: #bf9b94;
}
.coffin-blue {
  border-color: #94B8BF;
}
.coffin-top-blue {
  border-color: #94B8BF;
  background: #94B8BF;
}
.coffin-item {
  margin: 0;
	padding-top: 2px;
	padding-bottom: 1px;
  border-top: 1px #e8eed5 solid;
}
.coffin-pad {
  margin: 0;
	padding-top: 2px;
	padding-bottom: 1px;
  border-top: 1px #cccccc solid;
  background: #cccccc;
  color: #ffffff;
}
/*.coffin-pad-warn {*/
  /*border-top-color: #BF9B94;*/
  /*background: #BF9B94;*/
/*}*/
.coffin-pad-em {
  border-top-color: #333333;
  background: #333333;
}
/*.coffin-pad-ok {*/
  /*border-top-color: #94BE9B;*/
  /*background: #94BE9B;*/
/*}*/
.coffin-pad h4 {
  color: #ffffff;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.prepend-h {
  padding-left: 20px;
}
.append-h {
  padding-right: 20px;
}
.roundbox {
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.warning-surround {
  /*border: #999999 solid thin;*/
  background: #ffffff;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  padding: 0.5em 0.5em 0.5em 0.8em;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.warning-symbol {
  display: inline;
  margin-right: 0.5em;
}
.warning-symbol img {
  vertical-align: baseline;
}
.warning-text {
  display: inline;
}
.hidden {
  display: none;
}
/**
 * http://ethanschoonover.com/solarized
 */
/*.solarized-base03 { color: #002b36; }*/
/*.solarized-base02 { color: #073642; }*/
/*.solarized-base01 { color: #586e75; }*/
/*.solarized-base00 { color: #657b83; }*/
/*.solarized-base0 { color: #839496; }*/
/*.solarized-base1 { color: #93a1a1; }*/
/*.solarized-base2 { color: #eee8d5; }*/
/*.solarized-base3 { color: #fdf6e3; }*/
/*.solarized-yellow { color: #b58900; }*/
/*.solarized-orange { color: #cb4b16; }*/
/*.solarized-red { color: #dc322f; }*/
/*.solarized-magenta { color: #d33682; }*/
/*.solarized-violet { color: #6c71c4; }*/
/*.solarized-blue { color: #268bd2; }*/
/*.solarized-cyan { color: #2aa198; }*/
/*.solarized-green { color: #859900; }*/

/*
 from bf96b8
 white: F8F5F8
 darker: 74476D
 gray: aaaaaa

 E5D5E2

 tri, with B8BF95 and 95B8BF

coffin now...
A3BF95
95BF9C
95BFB1
 */

.sigal {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  background-color: #BFBFBF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
.css-form input.ng-valid.ng-dirty {
  background-color: #78FA89;
}
.css-form select.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

.css-form select.ng-valid.ng-dirty {
  background-color: #78FA89;
}
