#lift__noticesContainer___notice {
  color: #859900;
}
#lift__noticesContainer___warning {
  color: #cb4b16;
}
#lift__noticesContainer___error {
  color: #d33682;
}
#lift__noticesContainer__ {
  margin-bottom: 1em;
}
#lift__noticesContainer__ ul {
  margin:0;
  padding:0;
}
#lift__noticesContainer__ ul li {
  margin:0;
  padding:0;
  list-style:none;
}
.header {
  margin-bottom: 2em;
}
.header .container {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 0.5em;
}
.header h1 {
  font-size: 2em;
  margin: 0;
}
.header a {
  color: #bf96b8;
}
.topo {
  margin-top: 0.5em;
}
.stripmenu a {
  text-decoration: none;
}
.stripmenu a:hover {
  text-decoration: underline;
}
body {
  margin: 0;
  background: #f2f2f2;
  color: #586e75;
}
a {
  color: #956380;
}
tbody tr:nth-child(even) td, tbody tr.even td {background-color:transparent;}
.nonelist ol {
	margin:0;
	padding:0;
    list-style:none;
}
.nonelist ol li {
	margin:0;
	padding:0;
}
.artifacts img {
    margin-top: 1px;
}
h1 {
    color: #93a1a1;
}
h2 {
    color: #93a1a1;
}
h3 {
    color: #93a1a1;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
h4 {
    color: #93a1a1;
}
.stripmenu ul {
    display: inline;
    list-style:none;
}
.stripmenu li {
    display: inline;
    margin-right: 0.2em;
}
.stripmenu form {
    display: inline;
}
.stripstatus {
    padding-right: 2em;
}
.quietlink {
    text-decoration: none
}
.state-lesser {
    color: #93a1a1;
}
.state-inactive {
    color: #b58900;
}
.state-active {
    color: #6c71c4;
}
.state-good {
    color: #2aa198;
}
.state-bad {
    color: #dc322f;
}
.clone-count {
   font-size: 0.8em;
   color: #93a1a1;
   margin-left: 0.5em;
}
.sizeem {
   font-size: 0.8em;
   color: #93a1a1;
  text-align: right;
}
.no-margin input {
  margin: 0;
}
.coffin-top {
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #A3BF95;
  border-bottom-width: 0;
  background: #A3BF95;
}
.coffin-top-red {
  border-color: #bf9b94;
  /*border-color: #94B8BF;*/
  background: #bf9b94;
  /*background: #94B8BF;*/
}
.coffin-top-blue {
  border: 1px solid #94B8BF;
  background: #94B8BF;
}
.coffin-top h2 {
  color: #ffffff;
  margin: 6px 10px;
}
.coffin-top h3 {
  color: #ffffff;
  margin: 6px 10px;
}
.coffin {
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #A3BF95;
  border-top-width: 0;
  margin-bottom: 1em;
  background: #ffffff;
}
.coffin-red {
  border-color: #bf9b94;
  /*border-color: #94B8BF;*/
}
.coffin-blue {
  border-color: #94B8BF;
}
.coffin-item {
  margin: 0;
	padding-top: 2px;
	padding-bottom: 1px;
  border-top: 1px #e8eed5 solid;
}
.coffin-pad {
  margin: 0;
	padding-top: 2px;
	padding-bottom: 1px;
  border-top: 1px #cccccc solid;
  background: #cccccc;
  color: #ffffff;
}
.coffin-pad-warn {
  border-top-color: #BF9B94;
  background: #BF9B94;
}
.coffin-pad h4 {
  color: #ffffff;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.prepend-h {
  padding-left: 20px;
}
.append-h {
  padding-right: 20px;
}
.roundbox {
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.warning-surround {
  /*border: #999999 solid thin;*/
  background: #ffffff;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  padding: 0.5em 0.5em 0.5em 0.8em;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.warning-symbol {
  display: inline;
  margin-right: 0.5em;
}
.warning-symbol img {
  vertical-align: baseline;
}
.warning-text {
  display: inline;
}
.hidden {
  display: none;
}
/**
 * http://ethanschoonover.com/solarized
 */
.solarized-base03 { color: #002b36; }
.solarized-base02 { color: #073642; }
.solarized-base01 { color: #586e75; }
.solarized-base00 { color: #657b83; }
.solarized-base0 { color: #839496; }
.solarized-base1 { color: #93a1a1; }
.solarized-base2 { color: #eee8d5; }
.solarized-base3 { color: #fdf6e3; }
.solarized-yellow { color: #b58900; }
.solarized-orange { color: #cb4b16; }
.solarized-red { color: #dc322f; }
.solarized-magenta { color: #d33682; }
.solarized-violet { color: #6c71c4; }
.solarized-blue { color: #268bd2; }
.solarized-cyan { color: #2aa198; }
.solarized-green { color: #859900; }

/*
 from bf96b8
 white: F8F5F8
 darker: 74476D
 gray: aaaaaa

 E5D5E2

 tri, with B8BF95 and 95B8BF

coffin now...
A3BF95
95BF9C
95BFB1
 */


/* Stolen from bootstrap css - Move to bootstrap soon */
.label {
padding: 1px 3px 2px;
font-size: 9.75px;
font-weight: bold;
color: white;
text-transform: uppercase;
white-space: nowrap;
background-color: #BFBFBF;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.label-warning {
background-color: #F89406;
}
.label-important {
background-color: #C43C35;
}
.label-notice {
background-color: #62CFFC;
}
.label-success {
background-color: #46A546;
}
.sigal {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  background-color: #BFBFBF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
