body {
  margin: 0;
  background: #ffffff;
  color: #666666;
}
h1 {
  color: #cccccc;
}
h1 a {
  color: #cccccc;
  text-decoration: none;
}
h1 a:hover {
  color: #ffffff;
  background: #cccccc;
  text-decoration: none;
}
.key {
  padding: 2px 4px;
  margin-right: 2px;
  white-space: nowrap;
  line-height: 26px;
  background: #ffffff;
  color: #bfbfbf;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.symbol {
  padding: 1px 3px;
  margin-right: 3px;
  white-space: nowrap;
  line-height: 28px;
  background: #bfbfbf;
  border: 2px solid transparent;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.symbol.emphasis {
  border-color: #666666;
}
.symbol.warning {
  background-color: #F89406;
}
.symbol.error {
  background-color: #C43C35;
}
.symbol.notice {
  background-color: #62CFFC;
}
.label.ok {
  background-color: #46A546;
}