h1 {
  color: #cccccc;
}
h1 a {
  color: #cccccc;
  text-decoration: none;
}
h1 a:hover {
  color: #ffffff;
  background: #cccccc;
  text-decoration: none;
}
.cryptic-history {
  margin-bottom: 1em;
}
.key {
  padding: 1px 3px;
  white-space: nowrap;
  line-height: 28px;
  background: #ffffff;
  color: #bfbfbf;
  font-weight: bold;
  border: 2px solid #bfbfbf;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.symbol {
  padding: 1px 3px;
  white-space: nowrap;
  line-height: 28px;
  background: #bfbfbf;
  border: 2px solid transparent;
  color: #ffffff;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.symbol.emphasis {
  border-color: #666666;
}
.symbol.warning {
  background-color: #F89406;
}
.symbol.error {
  background-color: #C43C35;
}
.symbol.notice {
  background-color: #62CFFC;
}
.symbol.ok {
  background-color: #46A546;
}
.cryptic-history a {
  text-decoration: none;
}
.cryptic-history a:hover {
  text-decoration: none;
}