#lift__noticesContainer___notice {
  color: #3f8a10;
}
#lift__noticesContainer___warning {
  color: #5b108a;
}
#lift__noticesContainer___error {
  color: #8a1f11;
}
#lift__noticesContainer__ {
    margin-bottom: 1em;
}
#lift__noticesContainer__ ul {
	margin:0;
	padding:0;
}
#lift__noticesContainer__ ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.artifacts ol {
	margin:0;
	padding:0;
    list-style:none;
}
.artifacts ol li {
	margin:0;
	padding:0;
}
.artifacts h3 {
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
.stripmenu ul {
    display: inline;
    list-style:none;
}
.stripmenu li {
    display: inline;
}
.stripstatus {
    color: #666;
    padding-right: 2em;
}