#lift__noticesContainer___notice {
  background-color: green;
}

#lift__noticesContainer___warning {
  background-color: yellow;
}

#lift__noticesContainer___error {
  background-color: red;
}
#lift__noticesContainer__ ul {
	margin:0;
	padding:0;
      }
#lift__noticesContainer__ ul li {
	margin:0;
	padding:0;
	list-style:none;
}
ol.artifacts {
	margin:0;
	padding:0;
    list-style:none;
}
.artifacts ol li {
	margin:0;
	padding:0;
}
