#lift__noticesContainer___notice {
  background-color: green;
}

#lift__noticesContainer___warning {
  background-color: yellow;
}

#lift__noticesContainer___error {
  background-color: red;
}
#lift__noticesContainer__ ul {
	margin:0;
	padding:0;
      }
#lift__noticesContainer__ ul li {
	margin:0;
	padding:0;
	list-style:none;
}
.artifacts ol {
	margin:0;
	padding:0;
    list-style:none;
}
.artifacts ol li {
	margin:0;
	padding:0;
}
.artifacts h3 {
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 0.6em;
}
.stripmenu ol {
    list-style:none;
}
.stripmenu li {
    display: inline;
}