@(title: String)

<div class="row"><div class="col-lg-6">
  <h2>@title</h2>
  <div class="alert" ng-show="saveError">
    <strong>Error!</strong> Save operation failed.
  </div>
  <form name="form" novalidate>
    <fieldset>
      <div class="form-group" ng-class="{'has-error': form.inputShareUri.$invalid, 'has-success': !form.inputShareUri.$invalid}">
        <label for="inputShareUri" class="control-label">Share URI</label>
        <div>
          <input class="form-control" type="text" id="inputShareUri" name="inputShareUri" ng-model="gateway.uri" ng-pattern="/(smb://([a-zA-Z0-9-._~!$&'()*+,;=]+)/([a-zA-Z0-9-._~!$&'()*+,;=:/]+)|nfs://([a-zA-Z0-9-._~!$&'()*+,;=]+):(/?[a-zA-Z0-9-._~!$&'()*+,;=:/]+))/" required placeholder="smb://host/share">
          <span class="help-block">Example: <code>smb://host/share</code> or <code>nfs://host:/path/to/share</code> (NFS support is not stable)</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.inputPath.$invalid, 'has-success': !form.inputPath.$invalid}">
        <label for="inputPath" class="control-label">Path to TrueCrypt file</label>
        <div>
          <input class="form-control" type="text" id="inputPath" name="inputPath" ng-model="gateway.path" required placeholder="folder/file.extension">
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.inputPassword.$invalid, 'has-success': !form.inputPassword.$invalid}">
        <label for="inputPassword" class="control-label">TrueCrypt password</label>
        <div>
          <input class="form-control" type="password" id="inputPassword" name="inputPassword" ng-model="gateway.password" ng-required="passwordRequired">
          <span class="help-block">No one else need know this password, so make it secure</span>
        </div>
      </div>
      <div class="form-group" ng-class="{'has-error': form.inputMode.$invalid, 'has-success': !form.inputMode.$invalid}">
        <label for="inputMode" class="control-label">Mode</label>
        <div>
          <select class="form-control" id="inputMode" name="inputMode" ng-model="gateway.mode" ng-options="m.name for m in modes" required></select>
          <span class="help-block">A source for sharing; a sink for taking</span>
        </div>
      </div>
      <div class="form-group">
        <div>
          <button ng-click="save(gateway)" ng-disabled="form.$invalid" class="btn btn-default">Save</button>
          <button ng-click="cancel()" class="btn">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</div></div>

