@(approachForm: Form[(String, String)])

@import views.MyHelpers.minimal

@main("Approach") {
   <div>
   <h2 class="muted">Who approaches?!</h2>
   @helper.form(routes.Cultists.approachSubmit(), 'class -> "form-inline") {
       <fieldset>
        @approachForm.globalError.map{ error =>
            <p class="error">@error.message</p>
        }
        @helper.inputText(approachForm("email"), 'placeholder -> "Email", 'class -> "input-medium")
        @helper.inputPassword(approachForm("password"), 'placeholder -> "Password", 'class -> "input-medium")
        <input type="submit" value="Submit" class="btn">
       </fieldset>
    }
   </div>
}