@()

<div>
<h2>Change password</h2>
<div class="alert" ng-show="saveError">
  <strong>Error!</strong> Save operation failed. {{errorMsg}}
</div>
<form name="changePassword" class="css-form form-horizontal" novalidate>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="password0">Current Password</label>
      <div class="controls">
        <input type="password" id="password0" name="password0" ng-model="password0" ng-required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password1">New Password</label>
      <div class="controls">
        <input type="password" id="password1" name="password1" ng-model="password1" required ng-minlength="8">
      </div>
      
    </div>
    <div class="control-group">
      <label class="control-label" for="password2">Repeat Password</label>
      <div class="controls">
        <input type="password" id="password2" name="password2" ng-model="password2" pw-check="password1"><span class="help-block">New password must be 8 characters or more. Passwords are not stored in clear text.</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button ng-click="save(password0,password1)" ng-disabled="changePassword.$invalid" class="btn btn-primary">Submit</button>
        <button ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
</div>