@(title: String, name: String)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="ootw">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@title -- oOoo*</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/horror.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/cloud.ico")">
    <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-1.0.6.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ng-infinite-scroll-1.0.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/directives.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-resource-1.0.6.min.js")" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-4"><a href="#/home" class="alt-a"><i class="icon-cloud icon-4x"></i></a></div>
        <div class="col-lg-8">
          <ul class="pull-right nav nav-pills" ng-controller="NavCtrl">
            <li ng-class="{active: isPage('home')}"><a href="#/home">Home</a></li>
            <li ng-class="{active: isPage('tome')}"><a href="#/tome">Tome</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">@name <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#/gateway/add">Add a new gateway</a></li>
                <li class="divider"></li>
                <li><a href="#/recruit">Recruit another</a></li>
                <li><a href="@routes.Cultists.changePassword">Change password</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Cultists.withdraw">Sign-out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      @content
    </div>
  </body>
</html>