@()

<div class="row">
  <div class="span4">
    <div ng-controller="GatewayCtrl">
      <div class="bb-h"><i class="icon-hdd"></i> gateways <div class="pull-right btn-group">
        <a class="btn btn-mini" title="Add a new gateway" href="#/gateway/add"><i class="icon-plus"></i></a>
        <button ng-show="!locked" class="btn btn-mini" ng-click="lock()" title="Shut and lock shut all of your gateways for a period of time"><i class="icon-unlock"></i></button>
        <button ng-show="locked" class="btn btn-mini" ng-click="unlock()" title="Unlock your gateways to allow them to open"><i class="icon-lock"></i></button>
        <button class="btn btn-mini" ng-click="scour()" title="Check your source gateways for new artifacts"><i class="icon-refresh"></i></button>
      </div></div>
      <div class="bb-t">
        <div class="bb-h2" ng-show="isNote"><span class="label {{noteClass}}">{{noteTitle}}</span><span> {{noteText}}</span></div>
        <ol class="unstyled">
          <li ng-repeat="gateway in gateways" class="bb-i handy" ng-click="gatewaySelect(gateway)">
            <span class="{{gateway.class}}"><i class="{{gateway.icon}} icon-2x"></i> {{gateway.abbr}}</span> <small>{{gateway.mode.name}}</small> <span ng-show="gateway.scourAsap" title="Waiting to check for new artifacts, this may take some time"><i class="s-open icon-refresh"></i></span>
          </li>
          <li class="bb-i" ng-show="!gateways.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
    <div ng-controller="BabbleCtrl">
      <div class="bb-h">
        <div><i class="icon-comment-alt"></i> babblings</div>
      </div>
      <div class="bb-t">
        <form class="form-inline" ng-submit="addBabble()">
          <input class="input-block-level" type="text" ng-model="babbleText" placeholder="Add your babblings here">
        </form>
        <ol class="unstyled">
          <li class="bb-i" ng-repeat="babble in babblings">
            <span><span class="label">{{babble.who}}</span> {{babble.text}}</span>
          </li>
          <li class="bb-i" ng-show="!babblings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
  </div>

  <div ng-controller="ArtifactLogCtrl" class="span4">
    <div class="bb-h"><i class="icon-cloud-download"></i> log</div>
    <div class="bb-t">
      <form class="form-inline" ng-submit="search(searchText)">
        <input class="input-block-level" type="text" ng-model="searchText" placeholder="Search">
      </form>
      <div ng-show="results.show">
        <div class="bb-h2"><span class="label label-info">Search</span> Results <button class="pull-right btn btn-mini" ng-click="clear()">Clear</button></div>
        <ol class="unstyled">
          <li class="bb-i" ng-class="{handy: !artifact.proffered}" ng-repeat="artifact in results.items" ng-click="artifactSelect(artifact)">
            <span class="{{artifact.state.class}}"><i class="{{artifact.state.icon}} icon-2x"></i> {{artifact.abbr}}</span>
          </li>
          <li class="bb-i" ng-show="!results.items.length"><span class="muted"><i class="{{results.icon}} icon-2x"></i> {{results.desc}}</span></li>
        </ol>
      </div>
      <div ng-show="!results.show">
        <div ng-repeat="day in log">
          <div class="bb-h2">{{day.name}}</div>
          <ol class="unstyled">
            <li class="bb-i" ng-class="{handy: !artifact.proffered}" ng-repeat="artifact in day.items" ng-click="artifactSelect(artifact)">
              <span class="{{artifact.state.class}}"><i class="{{artifact.state.icon}} icon-2x"></i> {{artifact.abbr}}</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div ng-controller="AwaitingCtrl">
      <div class="bb-h"><i class="icon-cogs"></i> awaiting</div>
      <div class="bb-t"><ol class="unstyled">
        <li class="bb-i handy" ng-repeat="awaiting in awaitings" ng-click="artifactSelect(awaiting)">
          <span class="{{awaiting.state.class}}"><i class="{{awaiting.state.icon}} icon-2x"></i> {{awaiting.abbr}}</span>
        </li>
        <li class="bb-i" ng-show="!awaitings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
      </ol></div>
    </div>
    <div ng-controller="ClonedCtrl">
      <div class="bb-h"><i class="icon-asterisk"></i> cloned</div>
      <div class="bb-t">
        <ol class="unstyled">
          <li class="bb-i handy" ng-repeat="clone in cloned" ng-click="artifactSelect(clone)">
            <span class="{{clone.state.class}}"><i class="icon-asterisk icon-2x"></i> {{clone.abbr}}</span>
          </li>
          <li class="bb-i" ng-show="!cloned.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
  </div>
</div>