@()

<div class="row">
  <div class="span5">
    <div>
      <div class="bb-h bb-h-important"><i class="icon-bullhorn icon-large"></i> Notices</div>
      <div class="bb-t">
        <div class="bb-i"><span class="label label-inverse">App Upgrade</span><span> Major changes have been made to the app, which in the long term will provide better performance, but in the short term will cause problems. Please bear with it as any issues are found and remedied.</span></div>
      </div>
    </div>
    <div ng-controller="GatewayCtrl">
      <div class="bb-h"><i class="icon-hdd icon-large"></i> Gateways <div class="pull-right btn-group">
        <a class="btn btn-mini" title="Add a new gateway" href="#/gateway/add"><i class="icon-plus"></i></a>
        <button ng-show="!locked" class="btn btn-mini" ng-click="lock()" title="Shut and lock all of your gateways for a period of time"><i class="icon-unlock"></i></button>
        <button ng-show="locked" class="btn btn-mini" ng-click="unlock()" title="Unlock your gateways to allow them to open"><i class="icon-lock"></i></button>
        <button class="btn btn-mini" ng-click="scour()" title="Check your source gateways for new artifacts"><i class="icon-refresh"></i></button>
      </div></div>
      <div class="bb-t">
        <div class="bb-h2" ng-show="open"><span class="label label-warning">In Use!</span><span ng-show="open && locked"> <span class="label">Waiting to Lock</span></span> Please do not mount truecrypt volume locally or disconnect network.</div>
        <div class="bb-h2" ng-show="!open && locked"><span class="label label-success">Locked</span> The system will not attempt to access locked gateways, so they are safe to mount locally. <button class="pull-right btn btn-mini" ng-click="unlock()">Cancel</button></div>
        <ol class="unstyled">
          <li ng-repeat="gateway in gateways" class="bb-i hovery handy" ng-click="gatewaySelect(gateway)">
            <span class="{{gateway.class}}"><i class="{{gateway.icon}} icon-2x"></i> {{gateway.path}}</span> <small>{{gateway.mode.name}}</small> <span ng-show="gateway.scourAsap" title="Waiting to check for new artifacts, this may take some time"><i class="s-open icon-refresh"></i></span>
          </li>
          <li class="bb-i" ng-show="!gateways.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
    <div ng-controller="BabbleCtrl">
      <div class="bb-h">
        <div><i class="icon-comment-alt icon-large"></i> Babblings</div>
      </div>
      <div class="bb-t">
        <div class="bb-i"><form class="form-inline" ng-submit="addBabble()">
          <input class="input-block-level" type="text" ng-model="babbleText" placeholder="Add your babblings here">
        </form></div>
        <ol class="unstyled">
          <li class="bb-i" ng-repeat="babble in babblings">
            <span><span class="label">{{babble.who}}</span> {{babble.text}}</span>
          </li>
          <li class="bb-i" ng-show="!babblings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
    <div ng-controller="AwaitingCtrl">
      <div class="bb-h"><i class="icon-cogs icon-large"></i> Awaiting ({{awaitings.length}})</div>
      <div class="bb-t"><ol class="unstyled">
        <li class="bb-i hovery handy" ng-repeat="awaiting in awaitings" ng-click="artifactSelect(awaiting)">
          <span class="{{awaiting.state.class}}"><i class="{{awaiting.state.icon}} icon-2x"></i> {{awaiting.desc}}</span>
        </li>
        <li class="bb-i" ng-show="!awaitings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
      </ol></div>
    </div>
    <div ng-controller="ClonedCtrl">
      <div class="bb-h"><i class="icon-asterisk icon-large"></i> Cloned ({{cloned.length}} in the last 7 days)</div>
      <div class="bb-t">
        <ol class="unstyled">
          <li class="bb-i hovery handy" ng-repeat="clone in cloned" ng-click="artifactSelect(clone)">
            <span class="{{clone.state.class}}"><i class="icon-asterisk icon-2x"></i> {{clone.desc}}</span>
          </li>
          <li class="bb-i" ng-show="!cloned.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol>
      </div>
    </div>
  </div>

  <div ng-controller="ArtifactLogCtrl" class="span7">
    <div class="bb-h"><i class="icon-cloud-download icon-large"></i> Log</div>
    <div class="bb-t">
      <div class="bb-i"><form class="form-inline" ng-submit="search(searchText)">
        <input class="input-block-level" type="text" ng-model="searchText" placeholder="Search">
      </form></div>
      <div ng-show="results.show">
        <div class="bb-h2"><span class="label label-info">Search</span> Results <button class="pull-right btn btn-mini" ng-click="clear()">Clear</button></div>
        <ol class="unstyled">
          <li class="bb-i hovery" ng-class="{handy: !artifact.proffered}" ng-repeat="artifact in results.items" ng-click="artifactSelect(artifact)">
            <div class="bb-icon pull-left">
              <i class="{{artifact.state.class}} {{artifact.state.icon}} icon-2x"></i>
            </div>
            <div class="bb-text clearfix">
              <div class="{{artifact.state.class}}">{{artifact.desc}}</div>
              <div class="text-right">
                <span class="tiny muted">{{artifact.size}}</span> <span class="label label-info" ng-show="artifact.proffered && artifact.clones"><span class="tiny">{{artifact.clones}}x</span></span>
              </div>
            </div>
          </li>
          <li class="bb-i" ng-show="!results.items.length"><span class="muted"><i class="{{results.icon}} icon-2x"></i> {{results.desc}}</span></li>
        </ol>
      </div>
      <div ng-show="!results.show">
        <div ng-repeat="day in log">
          <div class="bb-h2">{{day.name}}</div>
          <ol class="unstyled">
            <li class="bb-i hovery" ng-class="{handy: !artifact.proffered}" ng-repeat="artifact in day.items" ng-click="artifactSelect(artifact)">
              <div class="bb-icon pull-left">
                <i class="{{artifact.state.class}} {{artifact.state.icon}} icon-2x"></i>
              </div>
              <div class="bb-text clearfix">
                <div class="{{artifact.state.class}}">{{artifact.desc}}</div>
                <div class="text-right">
                  <span class="tiny muted">{{artifact.size}}</span> <span class="label label-info" ng-show="artifact.proffered && artifact.clones"><span class="tiny">{{artifact.clones}}x</span></span>
                </div>
              </div>
            </li>
          </ol>
        </div>
        <div class="bb-h2">Only showing 7 days history <button class="pull-right btn btn-mini" ng-click="search('*')">Show All</button></div>
      </div>
    </div>
  </div>
</div>
<div class="row footer">
  <div class="span12 text-center"><span class="muted">Best viewed with Google Chrome.</span></div>
</div>