@()

@full("Home", 'Home) {
  <div class="row">
    <div class="span4">
      <div ng-controller="GatewayCtrl">
        <div class="bb-h"><i class="icon-hdd"></i> gateways</div>
        <div class="bb-t">
          <ol class="unstyled">
            <li class="bb-i" ng-repeat="gateway in gateways" data-trigger="hover" data-placement="right" data-content="Hmm" data-original-title="{{gateway.path}}">
              <span class="{{gateway.class}}"><i class="{{gateway.icon}} icon-2x"></i> {{gateway.abbr}}</span>
            </li>
            <li class="bb-i" ng-show="!gateways.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
        </div>
      </div>
      <div ng-controller="BabbleCtrl">
        <div class="bb-h">
          <div><i class="icon-comment-alt"></i> babblings</div>
        </div>
        <div class="bb-t">
          <form ng-submit="addBabble()">
            <input type="text" ng-model="babbleText" placeholder="Add your babblings here">
          </form>
          <ol class="unstyled">
            <li class="bb-i" ng-repeat="babble in babblings">
              <span><span class="label">{{babble.who}}</span> {{babble.text}}</span>
            </li>
            <li class="bb-i" ng-show="!babblings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
        </div>
      </div>
    </div>

    <div ng-controller="ArtifactLogCtrl" class="span4">
      <div class="bb-h"><i class="icon-cloud-download"></i> log</div>
      <div class="bb-t"><div ng-repeat="day in log">
        <div class="bb-h2">{{day.name}}</div>
        <ol class="unstyled">
          <li class="bb-i handy" ng-repeat="artifact in day.items" ng-click="artifactSelect(artifact)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{artifact.desc}}">
            <span class="{{artifact.state.class}}"><i class="{{artifact.state.icon}} icon-2x"></i> {{artifact.abbr}}</span>
          </li>
        </ol>
      </div></div>
    </div>

    <div class="span4">
      <div ng-controller="AwaitingCtrl">
        <div class="bb-h"><i class="icon-cogs"></i> awaiting...</div>
        <div class="bb-t"><ol class="unstyled">
          <li class="bb-i handy" ng-repeat="awaiting in awaitings" ng-click="artifactSelect(awaiting)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{awaiting.desc}}" >
            <span class="{{awaiting.state.class}}"><i class="{{awaiting.state.icon}} icon-2x"></i> {{awaiting.abbr}}</span>
          </li>
          <li class="bb-i" ng-show="!awaitings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol></div>
      </div>
      <div ng-controller="ClonedCtrl">
        <div class="bb-h"><i class="icon-asterisk"></i> cloned</div>
        <div class="bb-t">
          <ol class="unstyled">
            <li class="bb-i handy" ng-repeat="clone in cloned" ng-click="artifactSelect(clone)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{clone.desc}}">
              <span class="{{clone.state.class}}"><i class="icon-asterisk icon-2x"></i> {{clone.abbr}}</span>
            </li>
            <li class="bb-i" ng-show="!cloned.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
}