@()

<!DOCTYPE html>
<html lang="en" ng-app="ootw">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ooOo*</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-2.2.2.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/horror.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive-2.2.2.min.css")">
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/cloud.ico")">
  <script src="@routes.Assets.at("javascripts/jquery-1.8.3.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/angular-1.0.3.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/services.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/angular-resource-1.0.3.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/bootstrap-2.2.2.min.js")" type="text/javascript"></script>
</head>
<body>
  <div>
     <i class="icon-cloud icon-4x"></i>
        <ul class="nav nav-pills">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tome</a></li>
        <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cultist<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Recruit another</a></li>
                    <li><a href="@routes.Cultists.withdraw">Sign-out</a></li>
                </ul>
            </li>
        </ul>
  </div>

  <div class="row">
    <div ng-controller="GatewayCtrl" class="span4">
      <div ng-controller="GatewayCtrl">
        <div class="bb-h"><i class="icon-hdd"></i> gateways</div>
        <div class="bb-t">
          <ol>
            <li class="bb-i" ng-repeat="gateway in gateways" data-trigger="hover" data-placement="right" data-content="Hmm" data-original-title="{{gateway.path}}">
              <span class="{{gateway.class}}"><i class="{{gateway.icon}} icon-2x"></i> {{gateway.abbr}}</span>
            </li>
            <li class="bb-i" ng-show="!gateways.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
        </div>
      </div>
      <div class="bb-h">
        <div><i class="icon-comment-alt"></i> babblings</div>
      </div>
       <div class="bb-t">
          <ol class="unstyled">
             <li class="bb-i"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
       </div>
    </div>

    <div ng-controller="ArtifactLogCtrl" class="span4">
      <div class="bb-h"><i class="icon-cloud-download"></i> log</div>
      <div class="bb-t"><div ng-repeat="day in log">
        <div class="bb-h2">{{day.name}}</div>
        <ol class="unstyled">
          <li class="bb-i handy" ng-repeat="artifact in day.items" ng-click="artifactSelect(artifact)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{artifact.desc}}">
            <span class="{{artifact.state.class}}"><i class="{{artifact.state.icon}} icon-2x"></i> {{artifact.abbr}}</span>
          </li>
        </ol>
      </div></div>
    </div>

    <div class="span4">
      <div ng-controller="AwaitingCtrl">
        <div class="bb-h"><i class="icon-cogs"></i> awaiting...</div>
        <div class="bb-t"><ol class="unstyled">
          <li class="bb-i handy" ng-repeat="awaiting in awaitings" ng-click="artifactSelect(awaiting)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{awaiting.desc}}" >
            <span class="{{awaiting.state.class}}"><i class="{{awaiting.state.icon}} icon-2x"></i> {{awaiting.abbr}}</span>
          </li>
          <li class="bb-i" ng-show="!awaitings.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
        </ol></div>
      </div>
      <div ng-controller="ClonedCtrl">
        <div class="bb-h"><i class="icon-asterisk"></i> cloned</div>
        <div class="bb-t">
          <ol class="unstyled">
            <li class="bb-i handy" ng-repeat="clone in cloned" ng-click="artifactSelect(clone)" data-trigger="hover" data-placement="right" data-content="Click to clone" data-original-title="{{clone.desc}}">
              <span class="{{clone.state.class}}"><i class="icon-asterisk icon-2x"></i> {{clone.abbr}}</span>
            </li>
            <li class="bb-i" ng-show="!cloned.length"><span class="muted"><i class="icon-minus icon-2x"></i> None</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</body>
</html>