@()

<div>
<h2>Recruit another</h2>
<div class="alert" ng-show="saveError">
  <strong>Error!</strong> Save operation failed. {{errorMsg}}
</div>
<form name="recruit" class="css-form form-horizontal" novalidate>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Their Email</label>
      <div class="controls">
        <input type="email" id="inputEmail" ng-model="email">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button ng-click="save(email)" ng-disabled="recruit.$invalid" class="btn btn-primary">Submit</button>
        <button ng-click="cancel()" class="btn">Cancel</button>
      </div>
    </div>
  </fieldset>
</form>
</div>